{% extends "main.twig" %}

{% block main %}

<h1>我寫的 {{ title }} 文章：</h1>
<ul class="article-list">
{% for article in articles %}
<li><a href="/article?id={{article.id}}">{{ article.title }}</a></li>
{% endfor %}
</div>

{% endblock %}

